.section1 {
  padding: 3rem;
  border: solid black 1px;
  border-radius: 1rem;
  display: flexbox;
}
.section1 p {
  margin: 1rem;
  line-height: 1.5rem;
  /* text-justify: distribute; */
}
.section2 {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
}
.section2 div:first-child {
  width: 14rem;
  height: 18rem;
  background-color: rgb(167, 161, 161);
  /* border: black solid 1.5px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
div > p {
  font-size: 2rem;
}
.more {
  background-color: rgb(226, 74, 74);
  width: 5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2px;
  /* height: 2rem; */
}
