
.section1 {
  display: flex;
  /* margin-top: 3rem; */
  justify-content: space-around;
}
.div-n {
  width: 12rem;
  height: 18rem;
  background-color: rgb(167, 161, 161);
  /* border: black solid 1.5px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 5px 5px black; ;
}
div > p {
  font-size: 2rem;
}
.more {
  background-color: rgb(74, 158, 226);
  width: 5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2px;
  /* height: 2rem; */
}
.section2 {
    margin-top: 4rem;
  padding: 3rem;
  border: solid black 1px;
  border-radius: 1rem;
  display: flexbox;
}
.title-span {
    font-weight: bold;
}
.section2 p {
  margin: 1rem;
  line-height: 1.5rem;
  /* text-justify: distribute; */
}