.section1 {
  display: flex;
  /* margin-top: 3rem; */
  justify-content: space-around;
  flex-flow: row wrap;
}
.div-n {
  margin-top: 2em;
  width: 12rem;
  height: 18rem;
  background-color: rgb(167, 161, 161);
  /* border: black solid 1.5px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 5px 5px black;
}
p:not(footer p) {
  font-size: 2rem;
}

.more {
  background-color: rgb(238, 179, 103);
  width: 5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2px;
  /* height: 2rem; */
}
.section2 {
  margin-top: 4rem;
  padding: 1rem;
  border: solid black 1px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section2 h2 {
  padding-right: 5%;
  padding-left: 5%;
}
.section2 div > p {
  font-size: 1rem;
}
.section2 div {
  font-size: 1rem;
  border-left: black solid 2px;
  padding-left: 5%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

