.section1 {
  display: flex;
  /* margin-top: 3rem; */
  justify-content: space-around;
  flex-flow: row wrap;
}
.div-n {
  width: 12rem;
  height: 18rem;
  background-color: rgb(167, 161, 161);
  /* border: black solid 1.5px; */
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 5px 5px black;
}
div > p {
  font-size: 1.5rem;
  /* border: solid; */
}

.section2 {
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
table {
border: black solid 2px;
}
/* thead, tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

th {
  justify-items: center;
  align-items: center;
  /* border: black solid 2px; */
  width: 12rem;
}
tr {
  display: flex;  
}
/* td {
  justify-self: center;
  align-self: center;
  border: black solid 1px;
  width: 12rem;
} */

tbody td {
  text-align: center;
  border: black solid 1px;
  width: 12rem;
}
tbody tr:nth-child(odd) {
    background-color: rgb(181, 181, 192);
}

