* {
  margin: 0;
  padding: 0;
}
header form {
  position: absolute;
  right: 0%;
}
form button {
  background-color: black;
  color: white;
  height: 2rem;
  width: 2rem;
}
form input {
  height: 2rem;
  width: 15rem;
}
form input:hover {
  background-color: black;
  color:white;
}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 5em;
  align-items: center;
  font-size: 1.5rem;
}
main {
  padding: 2rem;
  margin: 1rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.img-des {
  width: 10rem;
  height: 7rem;
  /* margin: 5%; */
  border-radius: 10px;
}
footer {
  display: flex;
  justify-content: center;
}
footer > p {
  padding-left: 2%;
  padding-right: 2%;
}
img:hover {
border-radius: 50%;
border: red double 5px;
}
/* div:hover {
  width: 14rem;
  height: 20rem;
}  */