* {
  margin: 0;
  padding: 0;
}
nav a:hover {
  background-color: black;
  color: white;
}
header form {
  position: absolute;
  right: 0%;
}
form button {
  background-color: black;
  color: white;
  height: 2rem;
  width: 2rem;
}
form input {
  height: 2rem;
  width: 15rem;
}
form input:hover {
  background-color: black;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 5em;
  align-items: center;
  font-size: 1.5rem;
}
main {
  padding: 2rem;
  margin: 1rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.img-des {
  /* width: 70%;
  height: 70%; */
  width: 10rem;
  height: 7rem;
  margin: 5%;
  border-radius: 10px;
}
footer {
  display: flex;
  justify-content: center;
}
footer > p {
  padding-left: 2%;
  padding-right: 2%;
}
img:hover {
  border-radius: 50%;
  border: red double 5px;
}
/* div:hover {
  width: 14rem;
  height: 20rem;
}  */
.top {
  display: flex;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 0, 0, 0.644);
  position: fixed;
  left: -2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5rem;
}
.top:hover {
  background-color: black;
  color: white;
}
footer:hover {
  background-color: black;
  color: white;
}
@media (max-width: 524px) {
  /* div, header, footer , img , p , a, form , table{
    transform: scale(0.88);
  } */
  html {
    font-size: 0.8rem;
  }
}
@media (max-width: 426px) {
  table {
    font-size: 0.75rem;
  }
}